.blur-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 100%;

  backdrop-filter: blur(4px);
}

@keyframes smoothblur {
  0% {
    backdrop-filter: blur(0px);
  }
  100% {
    backdrop-filter: blur(4px);
  }
}
